<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nldoko.game">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity android:name="nldoko.game.java.SplashscreenActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="nldoko.game.java.game.NewGameActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="nldoko.game.java.game.GameActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="nldoko.game.java.game.ChangeGameSettingActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="nldoko.game.java.interconnect.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="nldoko.game.java.game.EditRoundActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="nldoko.game.java.game.SavedGameListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="nldoko.game.java.game.GameResultActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>